<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length === 0) { %>
              <h1>Nothing there!</h1>
            <% } else { %>
                <% orders.forEach(order => { %>
                  <ul>
                    <li>Order Id: <%= order.orderId %></li>
                    <li>
                        <% order.products.forEach(product => { %>
                            <hr>
                            <ul>
                                <li>Product: <%= product.title %></li>
                                <li>Description: <%= product.description %></li>
                                <li>Quantity: <%= product.quantity %></li>
                                <li>Price: <%= product.price %></li>
                            </ul>
                        <% }) %>
                    </li>
                  </ul>
                  <p>Total Price: <%= order.products[0].Total %></p>
                  <hr>
                  <% }) %>
              <p></p>
            <% } %>
          </main>
        <%- include('../includes/end.ejs') %>